$input-border-color: #bfbfbf;
$input-border-focus-color: #58c7cf;
$button-background-color: #d10157;

$sm-max-width: 575px;
$sm-min-width: 576px;

$md-max-width: 767px;
$md-min-width: 768px;

$lf-max-width: 1199px;
$lf-min-width: 1200px;
